.nav {
    padding: 0.25rem 0.5rem;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
}

.book-display {
    /* height: 100dvh; */
}

.nav-title {
    text-align: center;
}
